@charset "utf-8";
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import '../../node_modules/bulma/bulma.sass';

@keyframes shift_text {
  0% {opacity:0;}
  100% {opacity:1;}
}

.App {
  text-align: center;
  font-family: 'Heebo', sans-serif;

}

nav {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  color: $dark;
}

button.button {
  font-family: 'Heebo', sans-serif;
  animation: first-animation .75s, another-animation1s;
  animation-name: shift_text;
  animation-duration: 1s;
}

.hero-head {
  background: transparent;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-body.active{
  background: #4A7B96;
  background: -webkit-linear-gradient(right, #EE8695, #4A7B96);
  background: -moz-linear-gradient(right, #EE8695, #4A7B96);
  background: linear-gradient(to right, #EE8695, #4A7B96);
  animation: first-animation 1s;
  animation-name: shift_text;
  animation-duration: 1s;
}

.hero-body {
  background: #4A7B96;
  background: -webkit-linear-gradient(left, #4A7B96, #EE8695);
  background: -moz-linear-gradient(left, #4A7B96, #EE8695);
  background: linear-gradient(to right, #4A7B96, #EE8695);
  animation: first-animation 1s;
  animation-name: shift_text;
  animation-duration: 1s;
}

.hero-foot {
  background: transparent;
  background-color: transparent;
}

div.columns {
  color: $dark;
  margin-top: -.25em;
  margin-bottom: -1.50em;
  padding-bottom: -1.50em;

}

div.column.is-four-fifths {
  padding-right:-2em;
  margin-right: -2em;
}

image {
  right: 0;
}

ul.active {
  background: #4A7B96;
  background: -webkit-linear-gradient(right, #EE8695, #4A7B96);
  background: -moz-linear-gradient(right, #EE8695, #4A7B96);
  background: linear-gradient(to right, #EE8695, #4A7B96);
}

ul {
  background: #4A7B96;
  background: -webkit-linear-gradient(left, #4A7B96, #EE8695);
  background: -moz-linear-gradient(left, #4A7B96, #EE8695);
  background: linear-gradient(to right, #4A7B96, #EE8695);
  animation: first-animation .75s, another-animation1s;
  animation-name: shift_text;
  animation-duration: 1s;
  color: $dark;
  font-weight: 600;
  padding-bottom: .75em;
}

li a {
  color: $link;
  animation: first-animation .75s, another-animation1s;
  animation-name: shift_text;
  animation-duration: 1s;
}

img.is-rounded {
  filter: drop-shadow(18px 7px 25px $link);
  box-shadow: 0 0 8px $link inset;
  margin-top: .5em;
}

img.is-rounded:hover {
  filter: drop-shadow(18px 7px 27px $link);
}

.tabs:active {
  background-color: $link;
}

