@charset "utf-8";
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import '../../node_modules/bulma/bulma.sass';

.App {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  
}

.hero-head {
  background: transparent;
}

.hero-body.active{
  background: #4A7B96;
  background: -webkit-linear-gradient(right, #EE8695, #4A7B96);
  background: -moz-linear-gradient(right, #EE8695, #4A7B96);
  background: linear-gradient(to right, #EE8695, #4A7B96);

}

.hero-body {
  background: #4A7B96;
  background: -webkit-linear-gradient(left, #4A7B96, #EE8695);
  background: -moz-linear-gradient(left, #4A7B96, #EE8695);
  background: linear-gradient(to right, #4A7B96, #EE8695);

}

div.columns {
  margin-top: 3em;
  color: $dark;

}

div.column.is-four-fifths {
  padding-right:-2em;
  margin-right: -2em;
}

image {
  right: 0;
  
}
