$primary: #4a7a96;
$info: #333f58;
$dark: #292831;
$success: #fbbbad;
$link: #ee8695;

//#4a7a96

// $primary-dark: transparent;
// $primary-light: transparent;

$title-color: $info;
$body-color: $info;
$strong-color: $success;

$box-color: $dark;
$box-background-color: $link;

