$primary: #4a7a96;
$info: #333f58;
$dark: #292831;
$success: #fbbbad;
$link: #ee8695;


$title-color: $dark !important;
$title-hover-color: transparent;
$subtitle-color: $success;
$body-color: $info;
$strong-color: $success !important;
$navbar-box-shadow-color: transparent !important;
$navbar-item-hover-background-color: transparent !important;
$navbar-item-active-background-color: transparent !important;


$box-color: $dark;
$box-background-color: $link;

$tabs-toggle-link-active-background-color: transparent;
$tabs-boxed-link-hover-background-color: $info;
$button-color: $dark;
$button-background-color: transparent;
$button-border-color: transparent;
$button-border-width: 3px;
$button-hover-border-color: $link;
$button-hover-color: $info;
$tabs-border-bottom-style: none;
$tabs-boxed-link-hover-border-bottom-color: transparent;
$tabs-boxed-link-hover-border-bottom-color: $link;
$tabs-boxed-link-active-border-color: $link;
