$primary: #4a7a96;
$info: #333f58;
$dark: #292831;
$success: #fbbbad;
$link: #ee8695;

//#4a7a96

// $primary-dark: transparent;
// $primary-light: transparent;

$title-color: $dark !important;
$subtitle-color: $success;
$body-color: $info;
$strong-color: $link;

$box-color: $dark;
$box-background-color: $link;

$tabs-toggle-link-active-background-color: transparent;
$tabs-boxed-link-hover-background-color: $info;

$button-color: $info;
$button-background-color: transparent;
$button-border-color: $link;
$button-border-width: 3px;
$button-hover-border-color: $info;
$button-hover-color: $success;